@keyframes hh {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  75% {
    color: green;
  }

  100% {
    color: red;
  }
}

.aniHeading {
  animation-name: hh;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  text-align: center;
  animation-timing-function: ease-in-out;
  font-family: 'Source Code Pro', monospace;
  font-size: -60px;
}

.Navbarlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Navbarlisti {
  display: inline;
}

2h,
h3,
h4,
h5,
h6,
li,
p {
  font-family: 'Source Code Pro', monospace;
}

.aniGeneral {
  animation-name: hh;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  text-align: center;
  animation-timing-function: ease-in-out;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}

.scroll-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  /* important:  dimensions or positioning here! */
}

.white {
  color: white;
}
/*
.butt{
margin: 0 auto;
}
*/